/*!
 *
 * Custom CSS for Comedy Hack Day at the MIT Media Lab
 *
 * @CraigCannon
 *
 */

@media (max-width: 979px) {
	.triangle-top  {
		margin-top: -60px;
	}

	.triangle-left1 {
		margin-left: -20px;
	}

	.triangle-left2 {
		margin-left: -20px;
	}

	h3 {
		margin: 15px 0 15px 0;
	}

	#mc-logo {
		width: 75%;
	    margin-top: 20px;
	    margin-bottom: 5px;
	}
	h2,
	h3,
	h4 {
		font-weight: normal;
	}
}

@media (max-width: 767px) {
	.yellow-break {
		height: 5px;
		margin: 5px 0 5px 0;
	}

	.jumbotron {
		margin-bottom: 20px;
	}

	h2 {
		font-size: 45px;
		line-height: 50px;
	}
}

@media (max-width: 480px) {
	h2 {
		font-size: 35px;
		line-height: 40px;
	}

	h3 {
		font-size: 35px;
	}
}