/*!
 *
 * Custom CSS for Comedy Hack Day at the MIT Media Lab
 *
 * @CraigCannon
 *
 */

@font-face {
	font-family: 'Quicksand Light';
	src: url('../../assets/fonts/Quicksand_Light/quicksand_light-webfont.eot?') format('etf'), 
	url('../../assets/fonts/Quicksand_Light/quicksand_light-webfont.woff') format('woff'), 
	url('../../assets/fonts/Quicksand_Light/quicksand_light-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'Quicksand Book';
	src: url('../../assets/fonts/Quicksand_Book/quicksand_light-webfont.eot?') format('etf'), 
	url('../../assets/fonts/Quicksand_Book/quicksand_light-webfont.woff') format('woff'), 
	url('../../assets/fonts/Quicksand_Book/quicksand_light-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'Quicksand Bold';
	src: url('../../assets/fonts/Quicksand_Bold/quicksand-bold-webfont.eot?') format('etf'), 
	url('../../assets/fonts/Quicksand_Bold/quicksand-bold-webfont.woff') format('woff'), 
	url('../../assets/fonts/Quicksand_Bold/quicksand-bold-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'Josefin Slab Regular';
	src: url('../../assets/fonts/Josefin_Slab_Regular/josefinslab-regular-webfont.eot?') format('etf'), 
	url('../../assets/fonts/Josefin_Slab_Regular/josefinslab-regular-webfont.woff') format('woff'), 
	url('../../assets/fonts/Josefin_Slab_Regular/josefinslab-regular-webfont.ttf') format('truetype');
}



body, p {
	padding-top: 20px;
	padding-bottom: 40px;
	font-family: 'Josefin Slab Regular', "Times New Roman", Times, serif;
	color: rgba(51, 102, 255, 1);
	margin: 5px 0 5px 0;
}

h2,
h3,
h4 {
	font-family: 'Quicksand Book', 'Quicksand Light', Helvetica, Arial, sans-serif;
	color: rgba(51, 153, 255, 1);
	margin: 15px 0 0px 0;
}

p {
	font-size: 35px;
	line-height: 40px;
}

h2 {
	font-size: 55px;
	line-height: 60px;
}

h3 {
	font-size: 45px;
}

h4 {
	font-size: 35px;
}

a,
a:link,
a:visited,
a:active,
a:hover {
	text-decoration: none;
	word-wrap: break-word;
}

a,
a:link,
a:visited,
a:active {
	color: rgba(51, 153, 255, 1);
}

a:hover {
	color:rgba(51, 102, 255, 1);
}  

/* Custom container */
.chd-container {
	margin: 0 auto;
	max-width: 700px;
}
.container-narrow > hr {
	margin: 30px 0;
}

.jumbotron {
	margin: 60px 0 40px 0;
}

.logo {
	width: 100%;
}

.chd-logo {
	margin-top: 5%;
}

.yellow-break {
	background-color: rgba(255, 255, 0, 0.3);
	height: 10px;
	width: 100%;
	margin: 15px 0 15px 0;
}

.triangle {
	width: 0;
	height: 0;
	position: absolute;
	z-index: -1;
}

.triangle-top {
	margin-top: -25px;
	border-top: 600px solid rgba(255, 255, 0, 0.3);;
}

.triangle-bottom {
	border-bottom: 600px solid rgba(255, 255, 0, 0.3);;
}

.triangle-top2 {
	border-top: 600px solid rgba(255, 255, 0, 0.3);;
}

.triangle-bottom2 {
	border-bottom: 600px solid rgba(255, 255, 0, 0.3);;
}

.triangle-left1 {
	border-right: 1000px solid transparent;	
}

.triangle-right1 {
	border-left: 1000px solid transparent;
	right: 0px;
}

.triangle-left2 {
	border-right: 1000px solid transparent;	
}

.triangle-right2 {
	border-left: 1000px solid transparent;
	right: 0px;	
}

#sponsored {
	text-align: center;
}

.light-blue {
	color: rgba(51, 153, 255, 1);
}

.dark-blue {
	color: rgba(51, 102, 255, 1);
}

#mc-logo {
	width: 70%;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 5px;
}

.row {
	margin-left: 0 !important;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin: -5px 0 25px 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.nothing-button {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
