/*!
 *
 * Custom CSS for Comedy Hack Day at the MIT Media Lab
 *
 * @CraigCannon
 *
 */

@font-face {
	font-family: 'Quicksand Light';
	src: url('../../assets/fonts/Quicksand_Light/quicksand_light-webfont.eot?') format('etf'), 
	url('../../assets/fonts/Quicksand_Light/quicksand_light-webfont.woff') format('woff'), 
	url('../../assets/fonts/Quicksand_Light/quicksand_light-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'Quicksand Book';
	src: url('../../assets/fonts/Quicksand_Book/quicksand_light-webfont.eot?') format('etf'), 
	url('../../assets/fonts/Quicksand_Book/quicksand_light-webfont.woff') format('woff'), 
	url('../../assets/fonts/Quicksand_Book/quicksand_light-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'Quicksand Bold';
	src: url('../../assets/fonts/Quicksand_Bold/quicksand-bold-webfont.eot?') format('etf'), 
	url('../../assets/fonts/Quicksand_Bold/quicksand-bold-webfont.woff') format('woff'), 
	url('../../assets/fonts/Quicksand_Bold/quicksand-bold-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'Josefin Slab Regular';
	src: url('../../assets/fonts/Josefin_Slab_Regular/josefinslab-regular-webfont.eot?') format('etf'), 
	url('../../assets/fonts/Josefin_Slab_Regular/josefinslab-regular-webfont.woff') format('woff'), 
	url('../../assets/fonts/Josefin_Slab_Regular/josefinslab-regular-webfont.ttf') format('truetype');
}



body,
p,
input[type="email"],
input[type="submit"] {
	padding-top: 20px;
	padding-bottom: 40px;
	font-family: 'Josefin Slab Regular', "Times New Roman", Times, serif;
	color: rgba(51, 102, 255, 1);
	margin: 5px 0 5px 0;
}

h2,
h3,
h4 {
	font-family: 'Quicksand Book', 'Quicksand Light', Helvetica, Arial, sans-serif;
	color: rgba(51, 153, 255, 1);
	margin: 15px 0 0 0;
}

p {
	font-size: 35px;
	line-height: 40px;
	margin-bottom: -35px;
}

h2 {
	font-size: 55px;
	line-height: 60px;
}

h3 {
	font-size: 45px;
}

h4 {
	font-size: 35px;
}

a,
a:link,
a:visited,
a:active,
a:hover {
	text-decoration: none;
	word-wrap: break-word;
}

a,
a:link,
a:visited,
a:active {
	color: rgba(51, 153, 255, 1);
}

a:hover {
	color:rgba(51, 102, 255, 1);
}  

/* Custom container */
.chd-container {
	margin: 0 auto;
	max-width: 700px;
}
.container-narrow > hr {
	margin: 30px 0;
}

.jumbotron {
	margin: 60px 0 40px 0;
}

.logo {
	width: 100%;
}

.chd-logo {
	margin-top: 5%;
}

.yellow-break {
	background-color: rgba(255, 255, 0, 0.3);
	height: 10px;
	width: 100%;
	margin: 15px 0 0 0;
}

.triangle {
	width: 0;
	height: 0;
	position: absolute;
	z-index: -1;
}

.triangle-top {
	margin-top: -25px;
	border-top: 600px solid rgba(255, 255, 0, 0.3);;
}

.triangle-bottom {
	border-bottom: 600px solid rgba(255, 255, 0, 0.3);;
}

.triangle-top2 {
	border-top: 600px solid rgba(255, 255, 0, 0.3);;
}

.triangle-bottom2 {
	border-bottom: 600px solid rgba(255, 255, 0, 0.3);;
}

.triangle-left1 {
	border-right: 1000px solid transparent;	
}

.triangle-right1 {
	border-left: 1000px solid transparent;
	right: 0px;
}

.triangle-left2 {
	border-right: 1000px solid transparent;	
}

.triangle-right2 {
	border-left: 1000px solid transparent;
	right: 0px;	
}

#sponsored {
	text-align: center;
}

.light-blue {
	color: rgba(51, 153, 255, 1);
}

.dark-blue {
	color: rgba(51, 102, 255, 1);
}

#mc-logo {
	width: 70%;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 5px;
}

.row {
	margin-left: 0 !important;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin: 20px 0 20px 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.email-form {
	margin: 20px 0 0 0;
	text-align: center;
	text-align: -webkit-center;
}

.email-form-lower {
	margin: 5px 0 0 0;
}

.email-form-elements {
	display: inline;
}

.email-input {
	width: 50%;
}

input[type="email"] {
	background-color: #ffffff;
	border: 1px solid rgba(51, 102, 255, .8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;

	display: inline-block;
	height: 30px;
	padding: 4px 6px 1px;
	margin: 0px 15px 10px 0;
	font-size: 25px;
	line-height: 30px;
	color: rgba(51, 102, 255, 1);
	vertical-align: middle;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-appearance: none;
}

input[type="email"]:focus {
	border-color: rgba(51, 102, 255, 1);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */

	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
	 -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
	      box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: none;
  border-color: none;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: none;
  -webkit-box-shadow: 0 0 0px none;
     -moz-box-shadow: 0 0 0px none;
          box-shadow: 0 0 0px none;
}


input[type="email"]::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(51, 153, 255, .8);
}
input[type="email"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgba(51, 153, 255, 1);
}
input[type="email"]::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(51, 153, 255, 1);
}
input[type="email"]:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgba(51, 153, 255, 1);
}

input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}

input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}


input[type="submit"] {
	cursor: pointer;
	border: none;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(51, 102, 255, 1);
	padding: 2px 0 0 0;
	margin: 0 15px 10px 0;
	font-size: 25px;
	line-height: 40px;
	/* add */
	-webkit-writing-mode: horizontal-tb;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	-webkit-appearance: textfield;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto;
	-webkit-appearance: none;
	white-space: pre;
	-webkit-align-items: flex-start;
	text-align: center;
	cursor: default;
	color: rgba(255, 255, 255, 1);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	background-color: rgba(51, 153, 255, 1);
	box-sizing: border-box;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}



input[type="submit"]:link {
	background-color: rgba(51, 153, 255, 1);
}

input[type="submit"]:active {
	background-color: rgba(51, 102, 255, 1);
}

input[type="submit"]:focus {
	outline: rgba(51, 102, 255, .5) auto 5px;
}

.email-button {
	width: 30%;
	height: 37px;
}

.email-button-top {
	margin:	0 0 0 0 !important; 
}

#nothing-button {
	margin:	20px 0 0 0;
	width: 50%;
	max-width: 200px;
	height: 40px;
}

#double-p {
	margin-bottom: -45px;
}

.email-input-bottom {
	margin-top: 10px !important;
}
