/*!
 *
 * Custom CSS for Comedy Hack Day at the MIT Media Lab
 *
 * @CraigCannon
 *
 */

@font-face {
	font-family: 'Quicksand Light';
	src: url('../../assets/fonts/Quicksand_Light/quicksand_light-webfont.eot?') format('etf'), 
	url('../../assets/fonts/Quicksand_Light/quicksand_light-webfont.woff') format('woff'), 
	url('../../assets/fonts/Quicksand_Light/quicksand_light-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'Quicksand Book';
	src: url('../../assets/fonts/Quicksand_Book/quicksand_light-webfont.eot?') format('etf'), 
	url('../../assets/fonts/Quicksand_Book/quicksand_light-webfont.woff') format('woff'), 
	url('../../assets/fonts/Quicksand_Book/quicksand_light-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'Josefin Slab Regular';
	src: url('../../assets/fonts/Josefin_Slab_Regular/josefinslab-regular-webfont.eot?') format('etf'), 
	url('../../assets/fonts/Josefin_Slab_Regular/josefinslab-regular-webfont.woff') format('woff'), 
	url('../../assets/fonts/Josefin_Slab_Regular/josefinslab-regular-webfont.ttf') format('truetype');
}

body {
	padding-top: 20px;
	padding-bottom: 40px;
	font-family: 'Josefin Slab Regular', sans-serif;
}

/* Custom container */
.chd-container {
	margin: 0 auto;
	max-width: 700px;
}
.container-narrow > hr {
	margin: 30px 0;
}

.jumbotron {
	margin: 60px 0 40px 0;
}

.logo {
	width: 100%;
}

.chd-logo {
	margin-top: 5%;
}

.yellow-break {
	background-color: rgba(255%, 204%, 0%, 0.3);
	height: 10px;
	width: 100%;
}

.triangle {
	width: 0;
	height: 0;
	position: absolute;
	z-index: -1;
}

.triangle-top {
	margin-top: -20px;
	border-top: 600px solid rgba(255%, 204%, 0%, 0.3);;
}

.triangle-bottom {
	border-bottom: 600px solid rgba(255%, 204%, 0%, 0.3);;
}

.triangle-top2 {
	border-top: 600px solid rgba(255%, 204%, 0%, 0.3);;
}

.triangle-bottom2 {
	border-bottom: 600px solid rgba(255%, 204%, 0%, 0.3);;
}

.triangle-left1 {
	border-right: 1000px solid transparent;	
}

.triangle-right1 {
	border-left: 1000px solid transparent;
	right: 0px;
}

.triangle-left2 {
	border-right: 1000px solid transparent;	
}

.triangle-right2 {
	border-left: 1000px solid transparent;
	right: 0px;	
}
